window {
  background-image: url("file:///usr/share/backgrounds/default.jxl");
  background-size: cover;
  background-position: center;
}
box#body {
  background-color: rgba(19, 19, 19, 0.75);
  border-radius: 10px;
  padding: 50px;
}